{{#each publicLocations}}
<div class="box" style="max-height: 350px; ">
  <div class="columns">
    {{!-- left column --}}
    <div class="column is-half">
      <h3 class="title">{{title}}</h3>
      <div style="text-align: left;">
        <p><strong>Description:</strong> {{description}}</p>
        <p><strong>Longitude:</strong> {{longitude}}</p>
        <p><strong>Latitude:</strong> {{latitude}}</p>
        <p><strong>Distance:</strong> {{distance}}km</p>
        <p><strong>Difficulty:</strong> {{difficulty}}</p>
        <p><strong>Added By:</strong> {{userid.firstName}} {{userid.lastName}}</p>
        <p><strong>Public Location:</strong> {{#if public_location }} Yes {{else}} No {{/if}}</p>
        {{!-- Display reviews --}}
        {{#if reviews}}
        <div class="reviews">
          <h4>Reviews:</h4>
          <div class="review">
            <p><strong>Review by:</strong> {{userid.firstName}} {{userid.lastName}}</p>
            <p><strong>Content:</strong> {{reviews.content}}</p>
            <p><strong>Rating:</strong> {{reviews.rating}}</p>
          </div>
        </div>
        {{else}}
        <p>No reviews yet.</p>
        {{/if}}
      </div>
    </div>
    {{!-- right column --}}
    <div class="column is-half">
      {{#if img}}
      <img src={{img}} alt="hiketrail Image" style="max-height: 350px; max-width: 400px;">
      {{else}}
      {{> location-image}}
      {{/if}}
    </div>
  </div>
</div>
        <!-- Add Review Form -->
        <form action="/review/add/{{_id}}" method="POST">
          <div class="field">
            <textarea class="textarea" placeholder="Write a review..." name="content"></textarea>
          </div>
          <div class="field">
            <input class="input" type="number" placeholder="Rating (1-5)" name="rating" min="1" max="5">
          </div>
          <input type="hidden" name="locationid" value="{{_id}}">
          <button class="button is-primary" type="submit">Submit Review</button>
        </form>
{{/each}}