{{#each publicLocations}}
<div class="box" style="max-height: 500px;">
  <div class="columns">
    <!-- left column -->
    <div class="column is-half">
      <h3 class="title">{{title}}</h3>
      <div style="text-align: left;">
        <p><strong>Description:</strong> {{description}}</p>
        <p><strong>Longitude:</strong> {{longitude}}</p>
        <p><strong>Latitude:</strong> {{latitude}}</p>
        <p><strong>Distance:</strong> {{distance}}km</p>
        <p><strong>Difficulty:</strong> {{difficulty}}</p>
        <p><strong>Added By:</strong> {{userid.firstName}} {{userid.lastName}}</p>
        <p><strong>Public Location:</strong> {{#if public_location }} Yes {{else}} No {{/if}}</p>
        <p> -------------- </p>
        <h3 class="title">Reviews:</h3>
        {{#if reviews}}
        <div class="reviews">
            <p><strong>Comment:</strong> {{reviews.content}}</p>
            <p><strong>Rating:</strong> {{reviews.rating}}/5</p>
            <p><strong>Review by:</strong> {{reviews.userid.firstName}} {{reviews.userid.lastName}}</p>
        </div>
        {{else}}
        <p>No reviews yet.</p>
        {{/if}}
        <p>(You must be logged in to add a review!)</p>
      </div>
    </div>
    <!-- right column -->
    <div class="column is-half">
      {{#if img}}
      <img src="{{img}}" alt="hiketrail Image" style="max-height: 350px; max-width: 400px;">
      {{else}}
      {{> location-image}}
      {{/if}}
    </div>
  </div>
</div>

{{/each}}